{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Strength</th>
                <th>Agility</th>
                <th>Intelligence</th>
                <th>Charisma</th>
                <th>Quote</th>
                <th>Role</th>
                <th>Portrait</th>
                <th>BackgroundImage</th>
                <th>Motto</th>
                <th>Weaknesses</th>
                <th>Strengths</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.strength }}</td>
                <td>{{ character.agility }}</td>
                <td>{{ character.intelligence }}</td>
                <td>{{ character.charisma }}</td>
                <td>{{ character.quote }}</td>
                <td>{{ character.role }}</td>
                <td>{{ character.portrait }}</td>
                <td>{{ character.backgroundImage }}</td>
                <td>{{ character.motto }}</td>
                <td>{{ character.weaknesses }}</td>
                <td>{{ character.strengths }}</td>
                <td>{{ character.description }}</td>
                <td>
                    <a href="{{ path('app_character_show', {'id': character.id}) }}">show</a>
                    <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_new') }}">Create new</a>
{% endblock %}
