{% extends 'base.html.twig' %}

{% block title %}{{ character.id ? 'Edit Character' : 'New Character' }}{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="all-characters-title" style="margin-top: 20px;">
            {{ character.id ? 'Edit Character' : 'Create New Character' }}
        </h1>

        {{ include('character/_form.html.twig', {'button_label': character.id ? 'Update' : 'Create'}) }}

        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem;">
            <a href="{{ path('app_character_index') }}" class="menu-link">Back to list</a>
            
            {% if character.id %}
                {{ include('character/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
