{% extends 'base.html.twig' %}

{% block title %}{{ monster.id ? 'Edit Monster' : 'New Monster' }}{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="all-characters-title" style="margin-top: 20px;">
            {{ monster.id ? 'Edit ' ~ monster.name : 'Create New Monster' }}
        </h1>

        {{ form_start(form) }}
            {{ include('monster/_form.html.twig', {'button_label': monster.id ? 'Update' : 'Create'}) }}
            <div style="display: flex; gap: 1.5rem; margin-top: 2rem;">
                <a href="{{ path('app_monster_index') }}" class="menu-link">Back to list</a>
            </div>
        {{ form_end(form) }}

        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem;">
            
            {% if monster.id %}
                {{ include('monster/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
