{% extends 'base.html.twig' %}

{% block title %}{{ monster.name }}{% endblock %}

{% block body %}
<div class="show-page-wrapper">
    <div class="card" style="background-image: url('{{ monster.backgroundImage ? asset('uploads/monsters/' ~ monster.backgroundImage) : asset('img/default_bg.jpg') }}');">
        <div class="corner-block top-left">
            <div class="name slasher-heading">{{ monster.name }}</div>
            <div style="font-size: 1.2rem; color: #a09696;">{{ monster.title }}</div>
        </div>

        <div class="corner-block top-right">
            <div class="stat-line">
                <div class="stat-label">Lethality</div>
                <div class="stars">
                    {% for i in 1..5 %}<div class="star {{ i <= monster.lethality ? 'filled' : '' }}"></div>{% endfor %}
                </div>
            </div>
            <div class="stat-line">
                <div class="stat-label">Speed</div>
                <div class="stars">
                    {% for i in 1..5 %}<div class="star {{ i <= monster.speed ? 'filled' : '' }}"></div>{% endfor %}
                </div>
            </div>
            <div class="stat-line">
                <div class="stat-label">Stealth</div>
                <div class="stars">
                    {% for i in 1..5 %}<div class="star {{ i <= monster.stealth ? 'filled' : '' }}"></div>{% endfor %}
                </div>
            </div>
        </div>

        <div class="corner-block bottom-left">
            {% if monster.description %}<p><strong>Description:</strong> {{ monster.description }}</p>{% endif %}
            {% if monster.strengths %}<p><strong>Features:</strong> {{ monster.strengths }}</p>{% endif %}
            {% if monster.weaknesses %}<p><strong>Weaknesses:</strong> {{ monster.weaknesses }}</p>{% endif %}
        </div>

        {% if monster.backstory %}
            <div class="corner-block bottom-right">
                <div class="motto">"{{ monster.backstory }}"</div>
            </div>
        {% endif %}
    </div>
    
    <div class="action-buttons-container">
        <a class="menu-link" href="{{ path('app_monster_index') }}">Back to list</a>
        <a class="menu-link" href="{{ path('app_monster_edit', {'id': monster.id}) }}">Edit</a>
        {{ include('monster/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
